.icon {
  background-size: 100%;
  width: 100px;
  height: 100px;
  display: inline-block;
  -webkit-transition: .3s ease all;
  transition: .3s ease all; }

.icon-checkbox {
  background-image: url(../images/sprite.@2x.png);
  background-position: 0px 0px;
  background-size: 300px 200px; }

.icon-checkbox:hover {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg); }

.icon-expression_1:hover {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4); }

.icon-expression_1 {
  background-image: url(../images/sprite.@2x.png);
  background-position: -100px 0px;
  background-size: 300px 200px; }

.icon-expression_5 {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  background-size: 200px 200px;
  height: 250px;
  display: inline-block; }

.icon-expression_2:hover {
  -webkit-transform: skew(-20deg, 20deg);
  -ms-transform: skew(-20deg, 20deg);
  transform: skew(-20deg, 20deg); }

.icon-expression_2 {
  background-image: url(../images/sprite.@2x.png);
  background-position: 0px -100px;
  background-size: 300px 200px; }

.icon-expression_3:hover {
  -webkit-transform: translate(30px, 30px);
  -ms-transform: translate(30px, 30px);
  transform: translate(30px, 30px); }

.icon-expression_3 {
  background-image: url(../images/sprite.@2x.png);
  background-position: -100px -100px;
  background-size: 300px 200px; }

.icon-expression_4 {
  background-image: url(../images/sprite.@2x.png);
  background-position: -200px 0px;
  background-size: 300px 200px; }

.icon-expression_4 {
  margin-left: 150px; }

.icon-expression_4.active {
  -webkit-animation: bounce .6s linear infinite;
  animation: bounce .6s linear infinite; }

@-webkit-keyframes bounce {
  from,to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-30px, 0, 0);
    transform: translate3d(-30px, 0, 0); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(30px, 0, 0);
    transform: translate3d(30px, 0, 0); } }

@keyframes bounce {
  from,to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-30px, 0, 0);
    transform: translate3d(-30px, 0, 0); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(30px, 0, 0);
    transform: translate3d(30px, 0, 0); } }
